// VARIABLES
$color-gradient-1: hsl(249, 99%, 64%);
$color-gradient-2: hsl(278, 94%, 30%);
$color-red: hsl(0, 100%, 66%);
$color-white: hsl(0, 0%, 100%);
$color-violet-light: hsl(270, 3%, 87%);
$color-violet-dark: hsl(279, 6%, 55%);
$color-violet-very-dark: hsl(278, 68%, 11%);

$font-size-default: 1.8rem;
$font-family-default: 'Space Grotesk', sans-serif;